<!DOCTYPE html>
<html>
<head>
    <title>Raffle Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container" style="width: 90%;">
        <h1>Raffle Application</h1>
        <div style="position: relative; text-align: center;">
            <img src="{{ url_for('static', filename='Cofféé Macs.png') }}" alt="Cofféé Macs" class="raffle-image">
            <div class="button-container">
                <a href="{{ url_for('signup') }}">
                    <button>Sign Up</button>
                </a>
                <a href="{{ url_for('previousresults') }}">
                    <button>Past Results</button>
                </a>
                <a href="{{ url_for('monthly_competitions') }}">
                    <button>Monthly Competition</button>
                </a>
            </div>
            {% if last_draw %}
                <div class="highlighted-text">
                    <h2>Last Draw Result {{ last_draw[2].split(' ')[0] }}</h2>
                    <p>Winner: {{ last_draw[0] }} (Reference Number: {{ last_draw[1] }}), Date: {{ last_draw[2] }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
