<!DOCTYPE html>
<html>
<head>
    <title>Previous Results</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Previous Results</h1>
        
        <h2>Weekly Raffle Results</h2>
        {% if draw_results %}
            <ul>
                {% for result in draw_results %}
                    <li>{{ result[1] }} - Reference Number: {{ result[2] }} - Date: {{ result[3] }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No raffle results yet.</p>
        {% endif %}
        
        <h2>Monthly Team Competition Results</h2>
        {% if monthly_results %}
            <ul>
                {% for competition in monthly_results %}
                    <li>Team: {{ competition[1] }} - Task: {{ competition[2] }} - Completion Date: {{ competition[3] }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No monthly competitions yet.</p>
        {% endif %}
        
        <a href="{{ url_for('index') }}">
            <button>Go to Home</button>
        </a>
    </div>
</body>
</html>
